$colors: (
  "lightyellow": #FAF6CC,
  "yellow": #F6DD8B,
  "pink": #E21285,
  "blue": #92E1F4,
  "orange": #c78c1d,
  "grey": #d2d2d2,
);

/*-- scss:functions --*/

@function theme-color($color) {
  @return map-get($colors, $color);
}

/*-- scss:defaults --*/

$body-color: theme-color("lightyellow");
$link-color: theme-color("pink");

/*-- scss:rules --*/

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

.mono {
  font-family: monospace;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.margin p {
    margin-top: 16px;
  }
}

.reveal .slides section .fragment {
  &.tmp-hl-orange {
    opacity: 1;
    visibility: inherit;

    &.current-fragment {
      color: theme-color("orange");
    }
  }

  &.hl-orange {
    opacity: 1;
    visibility: inherit;

    &.visible,
    &.current-fragment {
      color: theme-color("orange");

    }
  }

  &.hl-grey {
    opacity: 1;
    visibility: inherit;

    &.visible,
    &.current-fragment {
      color: theme-color("grey");
    }
  }

}

// Background images
@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin theme-slide($number) {
  .theme#{$number} {
    &:is(.slide-background) {
      background-image: url('../../../../../assets/SVG/theme#{$number}.svg');
      @include background-full;
    }
  }
}

@for $i from 1 through 13 {
  @include theme-slide($i);
}

// Shinylive
.shinylive-wrapper {
  height: 600px;
}